/* Font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
.pretendard {font-family: Pretendard, sans-serif;}

/* Default */
* {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}
body, html {
	height: 100%;
	font-family: Pretendard, sans-serif;
}
a {
	font-family: Pretendard, sans-serif;
	font-size: 1rem;
	line-height: 1.7;
	color: #1a1a1a;
	margin: 0;
}
a:focus {
	outline: none !important;
}
a:hover {
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
p {
	font-family: Pretendard, sans-serif;
	line-height: 1.7;
	color: #1a1a1a;
	margin: 0;
}
ul, li {
	margin: 0;
	list-style-type: none;
}
input {
	outline: none;
	border: none;
}
textarea {
	outline: none;
	border: none;
}

/* css 추가 Begin */
	
	html, body, div{margin: 0; padding: 0; box-sizing: border-box;}
	input[type="text"]{outline: none; }
	input[type="password"]{outline: none; }
	input[type="submit"]{outline: none; cursor: pointer;}
	input[type="submit"]:hover{background-color: #C5241F;}
	input[type="button"]:hover{background-color: #C5241F;}
	-ms-input-placeholder {color: #808080;}
	
	.wrap{width: auto; height: auto;}
/* css 추가 End */

label {
	display: block;
	margin: 0;
}

/* Button */
button {
	outline: none !important;
	border: none;
	background: transparent;
}
button:hover {
	cursor: pointer;
}

/* Layout */
.flex-c-m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.flex-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}

/* login */
.limiter {
	width: 100%;
	margin: 0 auto;
}

.wrap-login100 {
	width: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* login more */
.login100-more {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	z-index: 1;
}
.logo_box {
	width: 100%;
	text-align: center;
	padding: 6rem 0;
}
.logo_box img {
	width: 100%;
}


.login100-title > p{
	text-align: center;
	padding-top: 3.25rem;
	font-size: 1rem;
	font-weight: 700;
	line-height: 125%;
	color: #D22C26;
}

.login100-info-title {
	text-align: center;
	padding-top: 7%;
	padding-bottom: 6%;
}
.login100-info-title > span {
	position: relative;
	font-family: pretandard, sans-serif;
	font-size: 0.875rem;
	line-height: 1.4;
	color: #1a1a1a;
	font-weight: 600;
	letter-spacing: -0.5px;
	padding-right: 1rem;
	display: inline-block;
}
.login100-info-title > span:nth-child(1)::after {
	position: absolute;
	content: '';
	display: block;
	right: 5px;
	top: 2px;
	width: 1px;
	height: 12px;
	background-color: #C6C6C6;
}

.login100-info-title > span:nth-child(2) {
	padding-right: 0;
}


.login_contact {
	width: 100%;
	max-width: 768px;
	margin: 3.25rem auto 1rem;
}

.login_contact_box {
	display: flex;
	justify-content: center;
}

.login_contact_inner {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0;
	padding-left: 5rem;
}


.login_contact_inner > span {
	color: #515154;
	font-family: Pretendard, sans-serif;
	font-size: 0.813rem;
	display: inline-block;
	line-height: 20px;
	margin-bottom: 5px;
}
.login_contact_inner > span:nth-child(1) {
	position: absolute;
	left: 1%;
	font-weight: 600;
	padding-right:0.813rem;
	font-size: 0.875rem;
	font-weight: 600;
	color: #1a1a1a;
}

.login_contact_inner > span:nth-child(2) {
	padding-left:25px;
	position: relative;
	padding-right:18px;
}
.login_contact_inner > span:nth-child(2)::before {
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 2px;
	top:2px;
	background: url(../images/icon_phone.png) no-repeat;
	background-size: 1rem 1rem;
}
.login_contact_inner > span:nth-child(3) {
	padding-left:25px;
	position: relative;
}
.login_contact_inner > span:nth-child(3)::before {
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 1px;
	top:1px;
	background: url(../images/icon_email.png) no-repeat;
	background-size: 1rem 1rem;
}
.login_contact_inner > span:nth-child(4) a {
	padding-left:15px;
	font-size: 1rem;
	color: #D22C26;
	text-decoration: underline;
}


/* divice */
.app_guide_box {
	margin-right: 3.0rem;
}
.app_guide_box.app_box4 {
	margin-right: 0;
}

.app_title {
	display: flex;
	justify-content: center; 
}
.app_title div img {
	width: 18px;
}
.app_title p {
	font-size: 0.813rem;
	font-weight: 600;
	font-family: Pretendard, sans-serif;
	padding-left:0.5rem;
}


.app_item {
	margin-top: 0.813rem;
	display: flex;
}
.app_item a {	
	position: relative;
	text-decoration: none;
	line-height: 22px;
	border-radius: 4px;
	font-weight: 600;
	text-align: center;
	padding: 1.65rem;
	margin-right: 1rem;
	border: 1px solid #C6C6C6;
}
.app_item a:nth-child(1) {
	margin-right: 1rem;
}
.app_item a:nth-child(2) {
	margin-right: 0;
}
.app_item a:nth-child(1)::before {
    display: block;
    content: '';
    position: absolute;
    top: 13%;
    left: 15%;
    width: calc(100% - 1rem);
    height: 3rem;
	background-image: url(../images/icon_download.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.app_item a:nth-child(2)::before {	
    display: block;
    content: '';
    position: absolute;
    top: 13%;
    left: 15%;
    width: calc(100% - 1rem);
    height: 3rem;
	background-image: url(../images/icon_guide.png);
	background-repeat: no-repeat;
	background-size: 100%;
}




.app_guide_box a:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}



.tway_m .app_box1 {
	display: none;
}
.tway_m .app_box2 {
	display: none;
}


@media (max-width: 320px) {
	.logo_box {
		padding: 4rem 0;
	}
	.app_guide_box {
		margin-right: 2.0rem;
	}
	.app_item a:nth-child(1) {
		margin-right: 0.5rem;
	}
	.login100-info-title > span {
		font-size: 0.75rem;
	}
	.login_contact_inner {
		padding-left: 3.6rem;
	}
}

@media (max-width: 280px) {
	.logo_box {
		padding: 6rem 0;
	}
	.app_item a {
		padding: 1.8rem;
	}
	.app_item a:nth-child(1) {
		margin-right: 0.2rem;
	}
	.login100-info-title > span {
		font-size: 0.7rem;
	}
	.login_contact_inner > span:nth-child(1) {
		padding-right: 0.75rem;
	}
	.login_contact_inner > span {
		font-size: 0.75rem;
	}
	.login_contact_inner > span:nth-child(1) {
		left: 3%;
	}
	.login_contact_inner {
		padding-left: 4rem;
	}
	.app_guide_box {
		margin-right: 1rem;
	}
}